name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Lint
        run: ./scripts/Lint.ps1

  format:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Format
        run: ./scripts/Format.ps1

  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: ./scripts/test.ps1

  build:
    needs: [lint, format, test]
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate Icon
        run: python scripts/generate_icon.py

      - name: Build
        run: ./scripts/Build.ps1

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: caxa-cleanup-all
          path: dist/

  release:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: caxa-cleanup-all
          path: dist

      - name: Get Version
        id: version
        shell: pwsh
        run: |
          $Year = Get-Date -Format "yy"
          $Count = ${{ github.run_number }}
          $Version = "$Year.$Count"
          Write-Output "version=$Version" >> $env:GITHUB_OUTPUT
          Write-Host "Version: $Version"

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.version.outputs.version }}
          name: Release ${{ steps.version.outputs.version }}
          files: |
            dist/caxa-cleanup.exe
            dist/caxa-cleanup-upx.exe
            dist/caxa-cleanup.zip
            dist/caxa-cleanup-upx.zip
            dist/commands.list
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
